%box {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 1rem;
}

%heading {
  font-size: 2rem;
  color: darkgray;
  text-transform: uppercase;
  text-decoration: underline;
}

// simple extending
.heading {
  @extend %heading;
}

// extending and overwriting
.heading2 {
  @extend %heading;
  color: pink;
}

.box {
  @extend %box;
}
