$web-page-color: #ccc;
$font-primary-color: black;

.this-style-for-inherit-0 {
  color: blue;
  font-size: 2rem;
}

.this-style-for-inherit-1 {
  background-color: black;
  color: white;
  font-size: 1rem;
}
